:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --main-color: #353430;
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --focus-text-color: #ffc2e6;
  --decoration-color: var(--main-color);
  --button-color: var(--main-color);
  --decoration-shadow-color: rgba(53, 52, 48, 0.6);
  --content-section-header-color: var(--main-color);
  --description-header-color: var(--main-color);
  --gallery-text-color: var(--main-color);
}

.theme-light .rec-label {
  display: none;
}
