:root {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --accent-color: #ff0070;
  --main-color: #f1b2ce;
  --focus-text-color: #db00ff;
  --decoration-color: var(--accent-color);
  --button-color: var(--accent-color);
  --decoration-shadow-color: rgba(255, 0, 112, 0.6);
  --main-font-family: "IBM Plex mono";
  --main-font-size: 1.125rem;
  --focus-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --focus-font-size-large: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --gallery-text-color: var(--background-color);
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --content-section-header-color: var(--background-color);
  --description-header-color: var(--background-color);
}
